{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    




  
  <!-- Start of Banner Section -->
  <div class="banner-container page">
    <!-- Start of Banner Text -->
    <div class="banner-text">
      <h1>
        Check out
        our most recent
        Projects.
      </h1>
      <p>
        Maxibern provides leading Software Solutions, Website Development,
        Digital Marketing, Corporate Branding, Training, and Consultation
        services to help businesses grow and expand.
      </p>
      <div class="work-with">
        <a href="{% url 'booking' %}">Work with us</a>
      </div>
    </div>
    <!-- End of Banner Text -->

    <!-- Start of Banner Image -->
    <div class="banner-img">
      
      <img src="{% static 'img/Asset-2-800x501.png' %}" alt="Slide" />     

    </div>
    <!-- End of Banner Image -->
  </div>
  <!-- End of Banner Section -->



  <!-- Start of Our Work Section -->
  <div class="our-work-main-container element padding">
    <h2>Projects We've Worked On</h2>
    <div class="our-work">

      {% for our_work in our_works %}
      <!-- Start of Work Item -->
      <div class="work">
        <img src="{{ our_work.image.url }}" alt="Slide" />     

       
        <h3>{{ our_work.title }}</h3>
        <div class="check-project">
          <a href="{{ our_work.link }}">
            <button>Check Out the Project</button>
          </a>
        </div>
      </div>
      <!-- End of Work Item -->
       {% endfor %}
    </div>
  </div>

    <script>
    
      function handleAnimationScroll() {
        // This block of code handles the reveal animation for elements on scroll
        window.addEventListener("scroll", () => {
          const targetElements = document.querySelectorAll(".element");

          targetElements.forEach((element) => {
            const position = element.getBoundingClientRect();
            const threshold = window.innerHeight * 0.9;

            // If the element's position is within the threshold, reveal it and trigger animation
            if (position.top <= threshold) {
              element.classList.add("slides");
            }
          });
        });
      }
      handleAnimationScroll();
    </script>
 {% endblock %}